{% extends 'base.html' %}

{% block title %}
Add Contact
{% endblock title %}

{% load crispy_forms_tags %}


{% block content %}
    <h1 class="text-center">Add Contact</h1>
    <form action="{% url "add-contact" %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="container">
                <div id="parent-accordian" class="accordian">
                    <div class="card">
                        {% for parent in parent_count %}
                            {% include 'directory/parent-form.html' with indexValue=parent  %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div id="child-accordian" class="accordian">
                    <div class="card">
                        {% for child in child_count %}
                            {% include 'directory/child-form.html' with indexValue=child  %}
                        {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="container">
                <div class="col">
                    <button type="submit" class="float-right text-center btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}