{% extends 'base.html' %}

{% block title %}
Add Contact
{% endblock title %}

{% load crispy_forms_tags %}


{% block content %}
<form action="{% url "add-contact" %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-header" >
                    <div class="card-title">Add Contact</div>
                </div>
                <div  class="card-body">    
                    <div class="card-body">
                        <div class="container">
                            {% include 'directory/parent-form.html' %}
                            <div class="row"><div class="container"><h6>Child Information</h6></div></div>
                            <hr>
                            {% include 'directory/child-form.html'  %}
                            <div class="row">
                                <div class="col ">
                                    <button type="submit" class="float-right text-center btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</form>
{% endblock content %}