<div class="row">
    <div class="col">
            <div class="form-group">
                <label for="id_parent-first_name">First Name<span class="asteriskField">*</span></label>
                <input type="text" name="parent-first_name" maxlength="50"  class="textinput textInput form-control" id="id_parent-first_name" aria-describedby="FirstName" placeholder="Enter First Name">
            </div>
    </div>
    <div class="col">
            <div class="form-group">
                <label for="id_parent-last_name">Last Name<span class="asteriskField">*</span></label>
                <input type="text" name="parent-last_name" maxlength='60' class="textinput textInput form-control" id="id_parent-last_name" aria-describedby="LastName" placeholder="Enter Last Name">
            </div>
    </div>
    <div class="col">
            <div class="form-group">
                <label for="id_parent-participation_level">Participation Level<span class="asteriskField">*</span></label>
                <select name="parent-participation_level" class="select form-control" id="id_parent-participation_level"> 
                    <option value="" selected="">---------</option> <option value="a">All-In</option> 
                    <option value="b">Email Me</option> <option value="c">Usually Busy</option>
                </select> 
            </div>
    </div>
</div>
<div class="row">
    <div class="col">
            <div class="form-group">
                <label for="id_parent-phone_number">Phone Number</label>
                <input type="tel" name="id_parent-phone_number" maxlength="128" class="textinput textInput form-control" id="id_parent-phone_number" placeholder="Enter Phone Number"> 
            </div>
    </div>
    <div class="col">
            <div class="form-group">
                <label for="id_parent-email">Email Address</label>
                <input type="email" name="parent-email" maxlength="254" class="emailinput form-control" id="id_parent-email" placeholder="Enter Email Address"> 
            </div>
    </div>
    <div class="col">
            <div class="form-group">
                <label for="id_parent-best_contact_option">Best Contact <span class="asteriskField">*</span></label>
                <select name="parent-best_contact_option" class="select form-control" id="id_parent-best_contact_option"> 
                    <option value="" selected="">---------</option> 
                    <option value="e">Email</option> 
                    <option value="p">Phone</option> 
                    <option value="t">Text</option>
                </select> 
            </div>
    </div>
    </div>
    <div class="row">
    <div class="col">
        <div class="form-group">
            <label for="id_parent-volunteering_type_1">Volunteering 1 <span class="asteriskField">*</span></label>
            <select name="parent-volunteering_type_1" class="select form-control" id="id_parent-volunteering_type_1"> 
                <option value="" selected>---------</option>

                <option value="Ft">Field Trips</option>

                <option value="T">Tutoring</option>

                <option value="S">Small Snack</option>

                <option value="SG">Study Groups</option>
            </select> 
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="id_parent-volunteering_type_2">Volunteering 2 <span class="asteriskField">*</span></label>
            <select name="parent-volunteering_type_2" class="select form-control" id="id_parent-volunteering_type_2"> 
                <option value="" selected>---------</option>

                <option value="Ft">Field Trips</option>

                <option value="T">Tutoring</option>

                <option value="S">Small Snack</option>

                <option value="SG">Study Groups</option>
            </select> 
        </div>                    
    </div>
</div>